
/*.accordion-button{
  &:focus{
    box-shadow: none !important;
  }
}*/
/* css rating
@media (min-width: 600px) {
  .container{
    width: 600px !important;
  }
}
.input-group{
  input{
    text-align: center;
    &:focus{
      box-shadow: none;
    }
  }
}*/
/*
  css User
@media(max-width: 767px){
  .user-menu{
    margin-top: 20px !important;
  }
}*/

